.hero {
  background-color: #ffb8ca;
}
.hero__container {
  position: relative;
  padding-top: 193px;
  padding-bottom: 160px;
  @media screen and(min-width: 768px) {
    padding-top: 94px;
    padding-bottom: 34px;
  }
  @media screen and(min-width: 1280px) {
    padding-top: 170px;
    padding-bottom: 56px;
  }
}

.hero__top-wrap {
  display: flex;
  justify-content: space-between;
}

.hero__left-wrap {
  position: relative;
  left: 0;
  z-index: 2;
  @media screen and(min-width: 768px) {
    position: static;
  }
}

.hero__title {
  max-width: 218px;
  margin-bottom: 20px;
  font-family: Titan One;
  font-weight: 400;
  font-size: 26px;
  line-height: calc(30 / 26);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-text-color;
  @media screen and(min-width: 768px) {
    max-width: 162px;
    font-size: 22px;
    line-height: calc(25 / 22);
  }
  @media screen and(min-width: 1280px) {
    max-width: 277px;
    font-size: 38px;
    line-height: calc(44 / 38);
  }
}

.hero__title span {
  font-size: 48px;
  line-height: calc(46 / 48);
  text-transform: uppercase;
  color: $secondary-title-color;
  @media screen and(min-width: 768px) {
    font-size: 34px;
    line-height: calc(31 / 34);
  }
  @media screen and(min-width: 1280px) {
    font-size: 58px;
    line-height: calc(52 / 58);
  }
}

.hero__btn-wraper {
  display: flex;
  margin-bottom: 20px;
  @media screen and(min-width: 1280px) {
    margin-bottom: 112px;
  }
}

.hero__first-btn,
.hero__second-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 8px;
  line-height: calc(10 / 8);
  border-radius: 50px;
  text-decoration: none;
  @media screen and(min-width: 1280px) {
    font-size: 14px;
    line-height: calc(18 / 14);
  }
}

.hero__first-btn {
  margin-right: 8px;
  width: 63px;
  height: 24px;
  background-color: #d41443;
  color: $primary-text-color;
  transition: $transition-timing-function;
  @media screen and(min-width: 1280px) {
    margin-right: 15px;
    width: 104px;
    height: 40px;
  }
}
.hero__first-btn:hover,
.hero__first-btn:focus {
  background-color: #c7133e;
}

.hero__second-btn {
  width: 83px;
  height: 24px;
  background-color: #ffffff;
  color: $secondary-title-color;
  transition: $transition-timing-function;
  @media screen and(min-width: 1280px) {
    width: 138px;
    height: 40px;
  }
}
.hero__second-btn:hover,
.hero__second-btn:focus {
  background-color: #ecebeb;
}

.hero-list {
  display: none;
  @media screen and(min-width: 768px) {
    display: block;
  }
  @media screen and(min-width: 1280px) {
    width: 138px;
    height: 40px;
    position: absolute;
    top: 140px;
    right: 0;
  }
}
.hero-list__item {
  margin-bottom: -8px;
  @media screen and(min-width: 1280px) {
    margin-bottom: -15px;
  }
}
.hero-list__item span {
  position: relative;
  top: 15px;
  right: -8px;
  display: block;
  width: 16px;
  height: 16px;
  margin-left: auto;
  border-radius: 50%;
  background-color: #ffffff;
  @media screen and(min-width: 1280px) {
    top: 30px;
    right: -15px;
    width: 30px;
    height: 30px;
  }
}

.hero-list__number {
  position: relative;
  z-index: 2;
  font-family: Titan One;
  font-weight: 400;
  font-size: 28px;
  line-height: calc(33 / 28);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: right;
  color: #d41443;
  @media screen and(min-width: 1280px) {
    font-size: 46px;
    line-height: calc(53 / 46);
  }
}

.hero-list__text {
  font-weight: 400;
  font-size: 8px;
  line-height: calc(10 / 8);
  text-align: right;
  color: $primary-text-color;
  @media screen and(min-width: 1280px) {
    font-size: 14px;
    line-height: calc(18 / 14);
  }
}

.hero-card {
  display: none;
  @media screen and(min-width: 768px) {
    display: flex;
    align-items: end;
  }
}

.hero-card__thumb {
  width: 124px;
  animation: bounce 1000ms 2;
  @media screen and(min-width: 1280px) {
    position: absolute;
    left: -34px;
    bottom: 45px;
    width: 188px;
  }
}
.hero-card__wrap {
  @media screen and(min-width: 1280px) {
    margin-left: 180px;
  }
}
.hero-card__text {
  margin-bottom: 7px;
  width: 124px;
  font-weight: 400;
  font-size: 8px;
  line-height: calc(12 / 8);
  color: $primary-text-color;
  @media screen and(min-width: 1280px) {
    margin-bottom: 20px;
    width: 200px;
    font-size: 14px;
    line-height: calc(20 / 14);
  }
}
.hero-card__link {
  @include centeredflex;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: $bg-color-two;
  color: $secondary-title-color;
  transition: $transition-timing-function;
  transform: scale(1);
  @media screen and(min-width: 1280px) {
    width: 26px;
    height: 26px;
  }
}
.hero-card__link:hover,
.hero-card__link:focus {
  background-color: #ecebeb;
  color: $secondary-title-color;
  transform: scale(1.5);
}

.hero__img-voomen-thumb {
  display: none;
  @media screen and(min-width: 768px) {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 168px;
  }
  @media screen and(min-width: 1280px) {
    width: 293px;
  }
}

.hero__ellipse-thumb {
  position: absolute;
  bottom: 75px;
  left: 50%;
  transform: translateX(-50%);
  width: 319px;
  @media screen and(min-width: 768px) {
    bottom: 46px;
    left: 65%;
    width: 324px;
  }
  @media screen and(min-width: 1280px) {
    bottom: 76px;
    left: 60%;
    width: 538px;
    height: 538px;
  }
}

.hero__icecream-thumb {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-65%);
  width: 174px;
  @media screen and(min-width: 768px) {
    left: 65%;
    width: 143px;
  }
  @media screen and(min-width: 1280px) {
    left: 60%;
    width: 236px;
  }
}
