.about-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  & {
    opacity: 0;
    pointer-events: none;
  }
  &.is-open {
    opacity: 1;
    pointer-events: auto;
  }
}

.about-modal {
  margin: 0 auto;
  padding: 15px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to top, #d4799080, #ffa5ba85);

  box-shadow: 0px 1px 3px rgb(0 0 0 / 60%), 0px 1px 1px rgb(0 0 0 / 70%),
    0px 2px 1px rgb(0 0 0 / 90%);

  @media screen and (min-width: 768px) {
    width: 60%;
  }
  @media screen and (min-width: 1280px) {
    width: 80%;
  }

  &__title {
    font-family: Titan One;
    font-size: 20px;
    width: 80%;
    margin: 15px auto;
    text-align: center;
    text-transform: uppercase;
    color: #d41443;
    @media screen and (min-width: 768px) {
      font-size: 25px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 28px;
    }
  }

  &__text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;

    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }

  &__btn {
    display: block;
    padding: 0;
    margin: 0 auto;
    width: 200px;
    height: 40px;
    font-family: DM Sans, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #ffffff;
    background-color: #d41443;
    border-radius: 10px;
    border: none;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.31;
      height: 45px;
    }
  }
  &__btn:hover {
    background-color: #da93a6;
    color: #d41443;
  }
}
