.contacts {
  padding-top: 170px;
  margin: 0 auto;
}

.contacts-wrap {
  background-color: #fff5f6;
  padding: 0;
  margin: 0;
  margin: 0 auto;
  width: 100%;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0 36px;
  }
  @media screen and (min-width: 1280px) {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 999;
  }
}

.contacts-container {
  margin: 0 auto;
  transform: translateY(-84px);
}

.representation__list {
  margin-bottom: 54px;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.representation__item {
  padding: 43px 20px;
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  margin: 0 auto 20px;
  @media screen and (max-width: 767px) {
    width: 220px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    flex-basis: calc(100% / 3 - 30px);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    padding: 52px 43px 61px;
  }
}

.contacts__list {
  display: block;
  margin-top: 25px;
}
