.backdrop-location {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 60;
  top: 0;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-location.is-hidden {
  .modal-location {
    transform: scale(1.5) rotate(180deg);
    transition: transform 500ms;
  }
}

.modal-location {
  width: 100%;
  @media screen and (min-width: 480px) {
    width: 450px;
    height: 609px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }

  background-color: #ffb8ca;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0);
  transform: translate(-50%, -50%);
  transition: transform 500ms;
  padding: 40px;
}

.modal-location-close__button {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  background-color: inherit;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover + .close-modal-icon {
    fill: #2196f3;
    background-color: black;
  }
  &:hover,
  &:focus + .close-modal-icon {
    fill: black;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.modal-location__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.16;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
