<section class="about">
    <div class="container">
        <p class="about__pre-title">tradition and love</p>
        <h2 class="about__title">how it’s made?</h2>
        <div class="about-wrap">
            <div class="about__pic"></div>
            <div class="about__description">
                <h3 class="about__description-title">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
                    faucibus lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.</h3>
                <p class="about__description-paragraph">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
                    placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
            
                    Aliquam erat volutpat. Aenean accumsan.
                </p>
                <button type="button" class="about__button">Read more</button>
            </div>
        </div>
        
    </div>
</section>